
#Ignore the exe
MWGH
MWGH.exe

#Ignore the asset converter
assets/convert
assets/convert.exe

#Ignore generated image header files
assets/mouse.h
assets/font.h

#Ignore the objects
main.o
physics/physics.o
maps/maps.o
menus/menus.o

#Ignore tests
tests/findEntryPointTest
tests/findEntryPointTest.exe
tests/detectCollisionTest
tests/detectCollisionTest.exe
